/* styling for the slideshow on the homepage */
ul.slideshow {
  width: 1250px;
  height: 600px;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;}
  
ul.slideshow li {
	position: absolute;
	margin: 0;
	padding: 0;
	left: 0;
	right: 0;
	list-style: none;
	width: 947px;
	height: 447px;
}
 
ul.slideshow li.show {
  z-index: 500;}
 
ul img {
  border: none;}
 
#slideshow-caption {
  width: 950px;
  height: 90px;
  position: absolute;
  bottom: 0;
  left: 0; 
  z-index: 500;}
 
#slideshow-caption .slideshow-caption-container {
  padding: 20px 25px 0 25px;   
  z-index: 1000;}
 
#slideshow-caption p {
  padding: 0;
  font: normal 130% arial, sans-serif;}